// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$mainAppColor: #181C25;
$secondAppColor: #4c4943;

$mainFontColor: #BDC2BF;
$secondFontColor: #FFD166;
$thirdFontColor: #EFBC9B;

$extraFontFamily: Jura, sans-serif;
